<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CodingForSwift.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>18EB9D421CBCE8AB0081DEF8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18EB9D5A1CBCE8AB0081DEF8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18EB9D651CBCE8AB0081DEF8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
